.parts_a_propos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  justify-content: space-around;
  margin-top: 1em;
}

#logiciel_container {
  height: 20%;
}

.contenu_a_propos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#parcours_contain {
  justify-content: space-between;
  width: 80%;
}

#logiciel_contain {
  width: 45%;
  justify-content: space-around;
}

#paragraphe_contain {
  margin-top: 10px;
  flex-direction: column;
  width: 90%;
  text-align: justify;
  font-size: 15px;
}

h3 {
  font-weight: bold;
  font-size: 15px;
}

.diplome_container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diplome_container p{
  font-size: 13px;
}

@media (max-width: 400px) {

  .parts_a_propos{
    margin-bottom: 25px;
  }
  
  .contenu_a_propos {
    margin-top: 15px;
    flex-direction: column;
  }

  .diplome_container {
    width: 100%;
  }

  #parcours_contain {
    height: 250px;
  }

  #logiciel_contain {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    width: 80%;
  }

  #logiciel_contain a {
    width: 25%;
  }
}