.contact_componant {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact_componant a {
  width: 25px;
  font-size: 15px;
  user-select:text;
}

#logiciel_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logiciel_container a {
  height: 1.5em;
}

@media (max-width: 400px) {
	#contact_container {
    width: 100%;
    padding-left: 35px;
    margin-bottom:35px;
	}

  .contact_componant {
    width: 100%;
  }

  .contact_componant img {
    width: 30px;
    margin-right: 0.5em;
  }
  
  .contact_componant a {
    width: 160px;
    font-size: 12px;
  }
}