.contact_componant {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact_componant a {
  width: 25px;
  font-size: 15px;
  user-select:text;
}

#logiciel_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: 2em;
}