.diplome_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
 .diplome_container p{
    font-size: 0.6em;
    color: #9499a3;
 }

 .diplome_container div {
    font-size: 1em;
 }