header {
  height: 4em;
  width: 100%;
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  top: 0;

  background: var(--color-magenta);
}

#header {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

#header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45%;
}

#header nav a {
  height: 30px;
  width: 85px;
  padding-left: 7px;
  padding-top: 2px;
}

#header nav a:hover {
  border-bottom: 2px solid white;
}

#media_header {
  width: 2%;
}

@media (max-width: 400px) {
  #header {
    max-width: 350px;
  }

  #header nav {
    width: 65%;
  }

  #header nav a {
    font-size: 14px;
  }

  #media_header {
    width: 6%;
  }
}