header {
  height: 80px;
  width: 100%;
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  top: 0;

  background: linear-gradient(
    154.62deg,
    rgba(74, 88, 119, 0.5) 16.09%,
    rgba(101, 114, 147, 0) 105.13%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(3.5px);
}

#header {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

#header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45%;
}

#header nav a {
  height: 30px;
  width: 85px;
  padding-left: 7px;
  padding-top: 2px;
}

#header nav a:hover {
  border-bottom: 2px solid white;
}

#media_header {
  width: 2%;
}
