header {
  width: 100%;
  position: fixed;
  padding: 1em 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  top: 0;

  background: var(--color-magenta);
}

#header {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#media_header {
  width: 2%;
}

#header div {
  width: 80%;
  overflow: hidden;
}

#header p {
  font-size: 1.5rem;
  padding-left: 100%;
  white-space: nowrap;
  animation: defilement 30s infinite linear;
}

@keyframes defilement {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

@media (max-width: 400px) {
  #header {
    max-width: 350px;
  }

  #header nav {
    width: 65%;
  }

  #header nav a {
    font-size: 14px;
  }

  #media_header {
    width: 6%;
  }
}