:root {
    --color-back : #17293B;
    --color-magenta: rgba(255, 12, 99, 1);
    --color-background: aliceblue;
}

@font-face {
    font-family: 'Murmure';
    src: url('../font/LeMurmure-Regular.woff');
}

section {
    background-color: var(--color-back);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

section h2 {
    padding-left: 0.5rem;
    background-color: var(--color-background);
    color: black;
    width: 100%;
    margin-bottom: 2rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section > div {
    width: 90%;
    margin-bottom: 2rem;
    display: flex;
}

#root > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

svg {
    margin: 0 0.5rem;
  }