#presentation_section {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#presentation_section > div {
  height: 70%;
}

#phrase_general {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#phrase_general div {
  width: 100%;
  font-size: 35px;
  margin-bottom: 5px;
}

#activite_presentation {
  width: 100%;
  font-size: 18px;
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  color: #9499A3;
}

#reseaux_container {
  display: flex;
  flex-direction: column;
}