#presentation_section  {
  height: 85vh;
  background: none;
  align-items: normal;

  display: grid;
  gap: 2.5em;
  margin-bottom: 5em;
}

#presentation_section > div {
  width: auto;
}

#phrase_general {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#presentation_section section {
  grid-column: 2;
  grid-row: 1;
}

#phrase_general div {
  width: 100%;
  font-size: 5.2em;
  margin-bottom: 5px;
  font-family: "Murmure";
}

#activite_presentation {
  width: 100%;
  font-size: 1.2em;
}

#reseaux_container {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#reseaux_container img {
  width: 3em;
}

#lien_pdf {
  grid-column: 2;
  grid-row: 2;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#lien_pdf a {
  background: var(--color-magenta);
  display: flex;
  align-items: center;
  padding: 0.5em 0.8em;
}

#lien_youtube {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;

}

@media (max-width: 400px) {
  #presentation_section > section {
    flex-direction: column;
  }

  #presentation_section > section > div:nth-child(1) {
    order: 2;
  }

  #presentation_section > section > div:nth-child(2) {
    order: 1;
  }

  #presentation_section > section > div:nth-child(3) {
    order: 3;
  }
  
  #phrase_general {
    width: 100%;
  }

  #phrase_general div {
    font-size: 25px;
  }

  #reseaux_container {
    display: none;
  }
}