#presentation_section > section {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#presentation_section > section > div {
  height: 70%;
}

#phrase_general {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#phrase_general div {
  width: 100%;
  font-size: 35px;
  margin-bottom: 5px;
}

#activite_presentation {
  width: 100%;
  font-size: 18px;
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  color: #9499a3;
}

#reseaux_container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  #presentation_section > section {
    flex-direction: column;
  }

  #presentation_section > section > div:nth-child(1) {
    order: 2;
  }

  #presentation_section > section > div:nth-child(2) {
    order: 1;
  }

  #presentation_section > section > div:nth-child(3) {
    order: 3;
  }
  
  #phrase_general {
    width: 100%;
  }

  #phrase_general div {
    font-size: 25px;
  }

  #reseaux_container {
    display: none;
  }
}